<div class="chat-dashboard">
  <app-sidebar></app-sidebar>
  <div class="window-chat">
    <div class="message-container">
      <!-- Date line -->
      <div class="date-line">October 9, 2024</div>

      <!-- Message blocks -->
      <div
        *ngFor="let message of messages"
        class="message"
        [class.user]="message.senderType === 'user'"
        [class.admin]="message.senderType === 'admin'"
      >
        <div class="bubble">
          <p>{{ message.content }}</p>
          <span class="timestamp">{{
            message.createdAt | date : "shortTime"
          }}</span>
        </div>
      </div>
    </div>

    <!-- Chat input -->
    <div class="chat-input-container">
      <input
        class="chat-input"
        [(ngModel)]="newMessageContent"
        placeholder="Type a message"
      />
      <button class="send-button" (click)="sendMessage()">
        <img src="/assets/send.png" alt="" width="20" height="20" />
      </button>
    </div>
  </div>
</div>
