<div class="chat-dashboard">
  <app-sidebar></app-sidebar>
  <div class="window-chat">
    <div class="chat-header">
      <img
        src="https://cdn-icons-png.flaticon.com/128/15444/15444770.png"
        alt="Avatar"
        class="avatar"
      />
      <p class="user-name">{{ user?.name }}</p>
      
      <button class="chat-dropdown" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    
      
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Contact info</span>
        </button>
        <button mat-menu-item>
          <mat-icon>check_circle_outline</mat-icon>
          <span>Select messages</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Mute notifications</span>
        </button>
        <button mat-menu-item>
          <mat-icon>clear</mat-icon>
          <span>Clear messages</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete chat</span>
        </button>
      </mat-menu>
    </div>
    

    <div class="message-container" #messageContainer>
      <!-- Message blocks -->
      <div
        *ngFor="let message of messages"
        class="message"
        [class.user]="message.senderType === 'user'"
        [class.admin]="message.senderType === 'admin'"
      >
        <div class="bubble">
          <p>{{ message.content }}</p>
        </div>
        <span class="timestamp">
          {{ message.createdAt | date: 'shortTime' }}
        </span>
      </div>
    </div>
    
    <!-- Chat input -->
    <div class="chat-input-container">
      <input
        class="chat-input"
        [(ngModel)]="newMessageContent"
        placeholder="Type a message"
      />
      <button class="send-button" (click)="sendMessage()">
        <img src="/assets/send.png" alt="Send" width="23" height="23" />
      </button>
    </div>
  </div>
</div>
