<div class="chat-dashboard">
  <app-sidebar></app-sidebar>
  <div class="window-chat">
    <div class="chat-header">
      <img
        src="https://cdn-icons-png.flaticon.com/128/15444/15444770.png"
        alt="Avatar"
        class="avatar"
      />
      <p class="user-name">{{ user?.name }}</p>
    </div>
    <div class="message-container" #messageContainer>
      <!-- Message blocks -->
      <div
        *ngFor="let message of messages"
        class="message"
        [class.user]="message.senderType === 'user'"
        [class.admin]="message.senderType === 'admin'"
      >
        <div class="bubble">
          <p>{{ message.content }}</p>
          <span class="timestamp">{{
            message.createdAt | date: 'shortTime'
          }}</span>
        </div>
      </div>
    </div>

    <!-- Chat input -->
    <div class="chat-input-container">
      <input
        class="chat-input"
        [(ngModel)]="newMessageContent"
        placeholder="Type a message"
      />
      <button class="send-button" (click)="sendMessage()">
        <img src="/assets/send.png" alt="" width="20" height="20" />
      </button>
    </div>
  </div>
</div>
