/* General layout */
.chat-dashboard {
  display: flex;
  height: 90vh; /* Full viewport height */
  overflow: hidden;
  
}

.window-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Light gray background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.start-chat-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #555;
  font-size: 18px;
  gap: 16px; /* Space between the SVG and the text */
}

.start-chat-message svg {
  width: 150px;
  height: 150px;
  color: #888; /* Adjust the color of the SVG icon */
  opacity: 0.9;
}

.start-chat-message p {
  margin: 0;
  font-size: 22px;
  color: #555; 
  font-weight: 500;
  opacity: 0.9;/* Adjust the text color as needed */
}


/* Chat Header */
.chat-header {
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: #f8fafc; /* White background for header */
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow under header */
  /* border-radius: 10px; */
  margin-bottom: 15px; /* Space between header and messages */
}

.chat-header p {
  font-weight: 525;
  font-size: 18px;
  margin: 0; /* Remove default margin */
  letter-spacing: 0.4px;
}

/* Messages styling */
.message-container {
  flex: 1;
  overflow-y: auto; /* Enable scrolling for messages */
  padding: 15px; /* General padding for the message container */
  background-color: #fff; /* Match background color */
  border-radius: 10px; /* Rounded corners for the message container */
 
  
}

/* Message block styling */
/* Message block styling */
.message {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  margin-bottom: 5px; /* Space between messages */
  background-color: #fff;
}
.line.span{
  color: #999;
}
.last-message-date{
  color: #999;
}
/* User messages */
.message.admin {
  align-items: flex-end; /* Align admin messages to the right */
}

.message.admin .bubble {
  display: flex; /* Use Flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #3B82F6; /* Light blue for user messages */
  color: white;
  font-weight: 500;
  border-radius: 18px 18px 0 18px; /* Rounded corners for user bubbles */
  padding: 12px;/* Add padding for the bubble */
  max-width: 90%; /* Limit the width of the message */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  word-wrap: break-word; /* Break long words */
}

/* Admin messages */
.message.user {
  align-items: flex-start; /* Align user messages to the left */
}

.message.user .bubble {
  display: flex; /* Use Flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #64748B; /* Gray for admin messages */
  color: white;
  border-radius: 18px 18px 18px 0; /* Rounded corners for admin bubbles */
  padding: 10px 15px; /* Add padding for the bubble */
  max-width: 70%; /* Limit the width of the message */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  word-wrap: break-word; /* Break long words */
  transform: scale(1.02); /* Slightly enlarge on hover */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bubble p{
  margin: 0;
  padding: 4px;
  font-size: 16px;
}

/* Timestamp styling */
.timestamp {
  font-size: 12px; /* Adjust size to match */
  color: #999; /* Light gray for timestamp */
  margin-top: 5px; /* Space between the message and timestamp */
  align-self: flex-start; /* Align timestamp to the left for user messages */
  text-align: left; /* Align text to the left */
  opacity: 1;
}

/* Admin timestamp alignment */
.message.admin .timestamp {
  align-self: flex-end; /* Align timestamp to the right for admin messages */
}

/* Chat input */
.chat-input-container {
  display: flex;
  align-items: center;
  background-color: white; /* White background for input area */
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 10px; /* Rounded corners */
}

.chat-input {
  flex: 1; /* Allow input to take available space */
  border: 2px solid ; /* Set border to transparent initially */
  padding: 12px;
  border-color: #c7c3c3;
  border-radius: 25px; /* Rounded input */
  font-size: 14px;
  background-color: #f1f1f1;
   
}

.chat-input:focus {
  outline: none; /* Remove outline on focus */
  background-color: #e6e6e6; /* Darker gray on focus */
  border-color: #4f46e5; /* Border color on focus */
  border-width:1px; /* Keep the same width on focus */
}

/* Add this to remove any top border that may appear */


.send-button {
  background-color: #fff; /* Blue background */
  color: #1E293B; 
  opacity: 0.9;
  padding: 10px 15px;
  border: none;
  border-radius: 50%; /* Circle button */
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transition for hover effect */
}


.send-button:hover {
  background-color:#faeeee; /* Darker blue on hover */
}

/* Avatar and User Name */
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-name {
  font-size: 14px;
  font-weight: 550; /* Adjust font weight for the name */
  color: #1E293B; 
  opacity: 0.90;
}
button[mat-menu-item] mat-icon {
  margin-left: auto;
}

mat-menu {
  font-family: 'inter';
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  margin-left: auto;
  opacity: 0.5;
}


/* Custom styles for mat-menu */
::ng-deep .mat-menu-panel {
  background-color: #ffffff; /* Background color of the menu */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  padding: 10px 0; /* Vertical padding for the menu */
}

/* Custom styles for menu items */
::ng-deep .mat-menu-item {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center icons and text vertically */
  padding: 10px 20px; /* Padding around items */
  color: #333; /* start-chat-messageefault text color */
  font-size: 16px; /* Font size for text */
  transition: background-color 0.2s ease; /* Transition for hover effect */
}

/* Hover effect for menu items */
::ng-deep .mat-menu-item:hover {
  background-color: #f0f0f0; /* Background color on hover */
  color: #1E293B; /* Text color on hover */
}

/* Custom styles for icons */
::ng-deep .mat-menu-item mat-icon {
  margin-right: 10px; /* Space between icon and text */
  font-size: 20px; /* Size of icons */
  color: #64748B; /* Color of icons */
}

/* Custom styles for text */
::ng-deep .mat-menu-item span {
  color: #1E293B; /* Default text color */
  opacity: 1; /* Full opacity */
}
.last-message-date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; /* Adjust spacing as needed */
}

.line {
  flex: 1;
  border: 1px solid;
  border-top: 1px solid #e0e0e0; /* Change color as needed */
  margin: 0 10px; /* Space between line and date text */
}

.last-message-date span {
  font-size: 16px; /* Change font size as needed */
  color: #333; /* Change color as needed */
  font-weight: 500; /* Change weight if needed */
}


