@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.chat-box {
    width: 360px;
    height: 550px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease;
    font-family: 'Inter', sans-serif;
    touch-action: none;


    &.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .chat-header {
        background-color: #2c3e50;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .avatar img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .chat-info {
            flex-grow: 1;
            padding-left: 15px;

            .name {
                font-size: 16px;
                font-weight: 600;
            }

            .online-status {
                font-size: 12px;
                color: #90ee90;
            }
        }

        .actions .toggle-btn {
            background: none;
            border: none;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .user-details-form input{
        flex-grow: 1;
            padding: 14px;
            border: 1px solid #ced4da;
            border-radius: 25px;
            margin-right: 10px;
            transition: border-color 0.2s;
            width: 100%;
            margin-bottom: 18px;

            &:focus {
                border-color: #3498db;
                outline: none;
                box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
                /* Add shadow on focus */
            }
    }

    .chat-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 15px;
        overflow-y: auto;
        background-color: #f8f9fa;
        /* Light background for the chat body */
        border-radius: 10px;
        /* Smooth corners for the chat body */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /* Optional shadow for depth */


        .user-details-form {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            padding: 20px;
            animation: fadeIn 0.5s ease;

            .input-area {
                display: flex;
                align-items: center;
                margin-top: 10px;

                .send-btn {
                    color: #ffffff;
                    border: none;
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background 0.2s;
                    background-color: gold;
                }
            }

            button {
                padding: 12px;
                border: none;
                border-radius: 25px;
                color: #ffffff;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                transition: background 0.3s ease;
                background: #2c3e50;

                &:hover {
                    background: goldenrod;
                }

                &:disabled {
                    background-color: #bdc3c7;
                    cursor: not-allowed;
                    opacity: 0.7;
                    /* Make it slightly transparent */
                }
            }

            .error {
                color: #e74c3c;
                font-size: 12px;
                margin-bottom: 10px;
                background-color: rgba(231, 76, 60, 0.1);
                /* Light red background for better visibility */
                border-left: 3px solid #e74c3c;
                /* Border to highlight the error */
                padding: 5px 10px;
                /* Padding for better readability */
                border-radius: 5px;
                /* Slightly rounded corners */
            }
        }

        hr {
            margin: 0;
            margin-bottom: 14px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        
        

        .messages {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: auto;
            padding-bottom: 10px;

            p {
                padding: 10px 15px;
                border-radius: 20px;
                max-width: 70%;
                word-wrap: break-word;
                position: relative;
                line-height: 1.4;
                font-size: 13px;

                &.sent {
                    background-color: #dbf3e8;
                    right: -90px;
                    border-top-right-radius: 0;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                }

                &.received {
                    background-color: #e8e8e8;
                    align-self: flex-start;
                    border-top-left-radius: 0;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                }

                .timestamp {
                    font-size: 10px;
                    color: #666;
                    position: absolute;
                    bottom: -22px;
                    right: 10px;
                    margin-bottom: 2px;
                }
            }
        }


        .input-area {
            display: flex;
            align-items: center;
            margin-top: 10px;

            input {
                flex-grow: 1;
                padding: 10px;
                border: 1px solid #ced4da;
                border-radius: 25px;
                margin-right: 10px;
                transition: border-color 0.2s;

                &:focus {
                    border-color: #3498db;
                    outline: none;
                }
            }

            .send-btn {
                background-color: #f8f9fa;
                color: #ffffff;
                width: 40px;
                height: 40px;
                border: none;
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
                transition: background 0.2s;
            }

            .send-btn img {
                background-color: #f8f9fa;
                width: 20px;
                height: 20px;
            }
        }
    }
}

.welcome-message{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #2c3e50;
}
.logo {
    height: 60px;
    width: 60px; 
    border: none;
    display: block;
    margin:auto;
    transition: transform 0.3s ease;
    margin-bottom: 8px;

}

.logo-message-container{
            overflow-y: auto;
}

/* Open chat button styling */
.open-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #3498db;
    background-color: #ffffff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.open-chat-btn:hover {
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #fa8bff, #2bd2ff, #2bff88);
    border-image-slice: 1;
}


.open-chat-btn img {
    width: 30px;
    height: 30px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px); 
    border-radius: 12px;
}

.modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
    width: 320px;
    animation: fadeIn 0.4s ease-in-out;
    text-align: center;
    font-family: 'Inter', sans-serif;
    position: relative;
}

.modal-content p {
    color: #333;
    font-size: 20px; 
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 0.5px; 
}

.modal-body {
    font-size: 16px;
    margin-bottom: 25px;
    color: #666; 
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px; 
}

.modal-footer button {
    padding: 12px 25px; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.2s; 
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-footer .confirm-btn {
    background-color: #e74c3c;
    color: #fff;
}

.modal-footer .cancel-btn {
    background-color: #3498db;
    color: #fff;
}

.modal-footer .confirm-btn:hover {
    background-color: #c0392b;
    box-shadow: 0 6px 12px rgba(230, 57, 70, 0.3); 
}

.modal-footer .cancel-btn:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 12px rgba(52, 152, 219, 0.3);
}


.chat-closed-message {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.chat-closed-message p {
    font-size: 13px;
    color: #2c3e50;
    margin-bottom: 8px;
    line-height: 1.1;
}

.chat-closed-message span {
    font-size: 14px;
    color: #7f8c8d;
}

.chat-closed-message a {
    font-weight: 600;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.chat-closed-message a:hover {
    color: #2980b9;
    text-decoration: underline;
}

.virtual-assistant-message {
    background-color: #ffffff; 
    border: 1px solid rgba(157, 24, 139, 0.754); 
    border-radius: 15px 15px 15px 0; 
    padding: 2px 10px; 
    max-width: 280px; 
    font-family: 'Inter', sans-serif; 
    line-height: 1.2; 
    color: #333; 
    position: relative; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.virtual-assistant-message h1 {
    font-size: 16px; 
    margin: 0; 
    font-weight: 500; 
    display: flex; 
    align-items: center; 
}

.virtual-assistant-message p {
    font-size: 14px; 
}

.virtual-assistant-message .emoji {
    margin-left: 5px; 
    vertical-align: middle; 
}

.virtual-assistant-message:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
    transition: box-shadow 0.3s ease; 
}

.star-rating {
    display: flex;
    gap: 8px;
    font-size: 30px;
    cursor: pointer;
    color: goldenrod;
    margin-bottom: 16px;
    justify-content: center;
  }
  
  .star-rating mat-icon {
    transition: color 0.3s;
  }
  
  .star-rating mat-icon.filled {
    color: goldenrod;
  }
  
  .star-rating mat-icon:not(.filled) {
    color: lightgray;
  }
  
  .feedback-input {
    width: 100%;
    margin-top: 16px;
  }
  
  mat-dialog-content {
    min-width: 300px;
    text-align: center;
  }
  
  mat-dialog-actions {
    padding-top: 16px;
  }
  
    


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

