.chat-container {
  display: flex; /* Use flexbox for layout */
} 

.contact-list {
  width: 400px;
  background-color: rgb(248, 250, 252);
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;  
}   
  

.parent-header {
  padding: 20px;
  /* background-color: #f5f5f5; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info span {
  font-size: 15px;
  margin:0px 0px 0px 16px;
  color: #1E293B;
  font-weight: 500;
}

.sidebar-toggle {
  display: flex;
  align-items: center;
  margin-top: -8px;
  opacity: 0.5;
  margin-left: 100px;
  font-size: 22px;
}

.mat-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-icon:hover {
  /* background-color: #eeeeee; */
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  /* color: #333; */
  opacity: 0.5;
  margin-top: 2px;
  
  
}



.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
  line-height: 5px;
  
}

 .dropdown:hover .dropdown-menu {
  display: block;
} 

.dropdown-item {
  display: flex;                     
  align-items: center;              
  padding: 10px 20px;               
  cursor: pointer;                  
  color: #999;                 
  margin-bottom: 10px;              
  font-size: 14px;                  
  transition: background-color 0.2s; 
}

.dropdown-item:hover {
  background-color: #eeeeee;        
}

/* Styles for icons */
.dropdown-item .icon {
  margin-right: 10px;               
  display: flex;                    
  justify-content: center;          
  align-items: center;              
}

.dropdown-item .icon i {
  font-size: 18px;                  
  color: #64748B;                  
}

/* Styles for text */
.dropdown-item .text {
  font-size: 16px;                  /* Font size for text */
  color: #1E293B;                   /* Text color */
  opacity: 1;                       /* Full opacity */
  display: inline-flex;             /* Inline flex to adjust alignment */
  align-items: center;              /* Center text vertically */
}

.search-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 350px;
  margin-left: 4px;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 60px; /* Add padding-left to make space for the icon */
  border-radius: 24px;
  border: 3px solid #e6e6e6;
  background-color: #f5f5f5;
  font-size: 14px;
  background-color:white;
}

.search-input::placeholder {
  color: #999; 
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  border-color: #4a90e2; /* Border color on focus */
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa; 
  font-size: 18px;
}



.app-user-list {
  flex: 1;
  overflow-y: auto;
}

.app-user-list::-webkit-scrollbar {
  width: 6px;
}

.app-user-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 12px;
}

.app-user-list::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
.dropdown-toggle::after {
  content: none !important; /* This will hide the default dropdown arrow */
}
.fab {
  background-color: #4a90e2;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.fab:hover {
  background-color: #3b7bbf;
  transform: scale(1.1);
}

.default-message {
  padding: 10px;
  background-color: #f5f5f5; /* Light gray background */
  border: 1px solid #ddd; /* Border color */
  border-radius: 5px; /* Rounded corners */
  margin: 10px; /* Spacing */
  width: 200px; /* Fixed width for the message area */
  align-self: flex-start; /* Align to the start of the flex container */
  display: flex; /* Center the content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
